@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap');

/* Root Start */
:root{
    --marine-blue: #02295a;
    --purplish-blue: #473dff;
    --pastel-blue: #adbeff;
    --light-blue: #bfe2fd;
    --strawberry-red: #ed3548;
    --cool-gray: #9699ab;
    --light-gray: #d6d9e6;
    --magnolia: #f0f6ff;
    --alabaster: #fafbff;
    --whitte: #ffffff;
}
/* Root End */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--light-blue);
    font-family: 'Ubuntu', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    background-color: var(--alabaster);
    width: 60%;
    min-height: 400px;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    padding: .75rem;
    border-radius: .5rem;
}
.side-bar{
    /* background-color: #02295a; */
    background-image: url(/assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    padding: 1.5rem;
    border-radius: .5rem;
    min-height: 450px;
}

.nav-bar li{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
}
.number{
    border: 1px solid var(--cool-gray);
    color: var(--whitte);
    border-radius: 50%;
    padding: .45rem .6rem;
    font-size: 11px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
}
.number:hover{
    background-color: var(--pastel-blue);
    color: var(--marine-blue);
}
.nav-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .25rem;
}
.nav-flex span:first-child{
    font-size: 10px;
    text-transform: uppercase;
    color: var(--cool-gray);
}
.nav-flex:nth-child(2){
    font-size: 12px;
    text-transform: uppercase;
    color: var(--light-gray);
    font-weight: 700;
}

    /* Steps */
.steps{
    padding: 1rem 4.5rem; 
    color: var(--cool-gray);
    width: 70%;
}
.step-1{
    margin-top: 1rem;
}
.header{
    margin-bottom: .5rem;
    font-weight: 700;
    color: var(--marine-blue);
}
.intro p{
    font-size: 13px;
}
.intro{
    margin-bottom: 1.5rem;
}
form{
    margin-bottom: 4rem;
}
form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
    gap: .35rem;
}
label{
    font-size: 11px;
    color: var(--marine-blue);
    text-transform: capitalize;
    font-weight: 700;
}
input{
    padding: .65rem;
    outline: none;
    border-radius: .35rem;
    width: 100%;
    border: 1px solid var(--cool-gray);
    font-weight: 700;
    color: var(--marine-blue);
    cursor: pointer;
}
input::placeholder{
    color: var(--cool-gray);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.next{
    border: none;
    border-radius: .4rem;
    background-color: var(--marine-blue);
    color: var(--light-gray);
    text-transform: capitalize;
    font-size: 12px;
    padding: .6rem 1.25rem;
    cursor: pointer;
    font-weight: 500;
}
.prev{
    /* visibility: hidden; */
    border: none;
    background-color: var(--alabaster);
    color: var(--cool-gray);
    text-transform: capitalize;
    font-size: 12px;
    padding: .6rem 1.25rem;
    cursor: pointer;
    font-weight: 500;
}
.prev:hover{
    color: var(--marine-blue);
}
/* .step-2{

} */
.plan{
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
    margin-bottom: 3rem;
}
.arcade-plan, .advanced-plan, .pro-plan{
    border: 1px solid var(--cool-gray);
    border-radius: .35rem;
    width: 30%;
    box-sizing: border-box;
    padding: 1rem .5rem;
}
.arcade-plan:hover, .advanced-plan:hover, .pro-plan:hover{
    border: 1px solid var(--purplish-blue);
    border-left: 2px solid var(--pastel-blue);
    background-color: var(--magnolia);
}
.arcade-plan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}
.arcade-plan div{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    justify-content: flex-start;
    align-items: flex-start;
}
.arcade-plan div span:first-child{
    color: var(--marine-blue);
    font-size: 14px;
    font-weight: 700;
}
.arcade-plan div span:nth-child(2){
    font-size: 11px;
}

.advanced-plan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}
.advanced-plan div{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    justify-content: flex-start;
    align-items: flex-start;
}
.advanced-plan div span:first-child{
    color: var(--marine-blue);
    font-size: 14px;
    font-weight: 700;
}
.advanced-plan div span:nth-child(2){
    font-size: 11px;
}

.pro-plan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}
.pro-plan div{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    justify-content: flex-start;
    align-items: flex-start;
}
.pro-plan div span:first-child{
    color: var(--marine-blue);
    font-size: 14px;
    font-weight: 700;
}
.pro-plan div span:nth-child(2){
    font-size: 11px;
}
.duration{
    background-color: var(--magnolia);
    width: 100%;
    padding: .75rem;
    font-size: 13px;
    font-weight: 700;
    color: var(--marine-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    border-radius: .5rem;
}

/* Start of toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 16px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--marine-blue);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: var(--whitte);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--marine-blue);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--marine-blue);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/* End of toggle button */
.step-2 .footer{
    margin-top: 5rem;
}
/* ============== step 3 =============== */
.step-3-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.services, .storage, .profile{
    padding: 1rem;
    border: 1px solid var(--purplish-blue);
    border-radius: .5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
input[type = checkbox]{
    margin: 0;
    padding: 0;
    height: 13px;
}

.step-3 .footer{
    margin-top: 5rem;
}

.step-1, .step-2, .step-4, .step-5{
    display: none;
} 

